@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;500;700;900&display=swap');

.title-h1 {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: var(--v-primarycontrast-base);
}

.title-h2 {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: var(--v-primarycontrast-base);
}

.title-h3 {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--v-primarycontrast-base);
}

.title-h4 {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: var(--v-primarycontrast-base);
}

.title-h5 {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--v-primarycontrast-base);
}

.title-h6 {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: var(--v-primarycontrast-base);
}

.paragraph-1 {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--v-primarycontrast-base);
}

.paragraph-2 {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--v-primarycontrast-base);
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--v-labeltext-base);
}

.label-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--v-labeltext-base);
}
